// Sections padding
.page-template-homepage section.c-pricing .container-fluid,
.page-template-homepage section.c-testimonials .container-fluid,
.page-template-homepage section.c-news .container-fluid,
.page-template-homepage section.c-edd .container-fluid,
.page-template-homepage section.c-blank .container-fluid {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media (min-width: 992px) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}
.page-template-homepage section.c-woo .container-fluid {
	padding-top: 3rem;
	padding-bottom: 0;
	@media (min-width: 992px) {
		padding-top: 4rem;
		padding-bottom: 1rem;
	}
}
.page-template-homepage section.c-features .container-fluid {
	padding-top: 3rem;
	padding-bottom: 2rem;
	@media (min-width: 992px) {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}
}

// Hero section
section.c-hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem 0;
	p.lead.c-hero__description {
		margin-bottom: 1.5rem;
	}
	.c-hero__fb-video {
		display: block;
		margin-top: 1rem;
		&:hover {
			text-decoration: none;
		}
		@media (min-width: 576px) {
			display: inline-block;
			margin-top: 0;
			margin-left: 1.5rem;
		}
		.c-hero__video-btn {
			&.btn--circle {
				width: 50px;
				height: 50px;
				line-height: 49px;
				font-size: 1.05rem;
				text-align: center;
				padding: 0;
				border-radius: 50%;
			}
		}
		.c-hero__video-text {
			padding: 0;
			margin-left: 0.5rem;
			&:hover {
				text-decoration: none;
			}
		}
	}
	#c-hero-modal {
		.modal-dialog {
			max-width: 1000px;
			margin: 100px auto 10px;
		}
		.modal-body {
			padding: 0px;
		}
		.close {
			position:absolute;
			right: 0;
		  	top: 0;
		  	z-index: 999;
			font-size: 2rem;
		  	font-weight: normal;
		  	color: #fff;
		  	opacity: 1;
		}
	}
}

// Clients section
section.c-clients {
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	.c-clients__item {
		min-height: 1px;
		display: none;
	}
	.slick-initialized .c-clients__item {
		display: inline-block;
		vertical-align: middle;
	}
	img.client {
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.slick-slider {
		.slick-prev {
			left: -10px;
			&::before {
				font-family: "Font Awesome 5 Free";
				content: "\f053";
				color: #8c98a4;
				opacity: 1;
				font-weight: 700;
			}
		}
		.slick-next {
			right: -10px;
			&::before {
				font-family: "Font Awesome 5 Free";
				content: "\f054";
				color: #aaa;
				opacity: 1;
				font-weight: 700;
			}
		}
		.slick-track {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

// Features section
section.c-features {
	.row:first-of-type {
		@media (min-width: 576px) {
			justify-content: center;
		}
		.c-features__block {
			margin-bottom: 1.5rem;
			.card {
				text-align: center;
				background-color: transparent;
				.c-features__block-icon {
					display: block;
					i {
						font-size: 3rem;
					}
				}
			}
		}
	}
	.c-features__block-desc {
		color: #6c757d;
		margin-bottom: 1rem;
	}
}

// Pricing section
.c-pricing {
	.row:first-of-type {
		@media (min-width: 576px) {
			justify-content: center;
		}
		.c-pricing__table {
			margin-bottom: 1.5rem;
			.card {
				max-width: 28rem;
				margin: 0 auto;
				.card-header {
					background-color: #fff;
					text-align: center;
					padding-top: 1.5rem;
					padding-bottom: 0;
					border: 0;
				}
				.card-body {
					text-align: center;
					padding-left: 3rem;
					padding-right: 3rem;
					padding-bottom: 1.5rem;
				}
				li {
					font-size: 0.94rem;
					padding: 0.5rem 0;
					border-bottom: 1px solid rgba(0, 0, 0, 0.125);
					&:last-of-type {
						border-bottom: 0;
					}
				}
			}
		}
	}
}

// News section
section.c-news {
	.row:first-of-type {
		@media (min-width: 576px) {
			justify-content: center;
		}
		.c-news__card-wrapper {
			margin-bottom: 1.5rem;
			.card {
				max-width: 28rem;
				margin: 0 auto;
			}
		}
	}
}

// Testimonials section
section.c-testimonials {
	.c-testimonials__quote {
		padding: 20px;
		padding-left: 50px;
		box-sizing: border-box;
		position: relative;
		overflow: hidden;
		min-height: 120px;
		border-radius: 10px;
		border-top: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6;
		border-bottom: 1px solid #dee2e6;
		@media (min-width: 576px) {
			padding-left: 60px;
		}
		&::before {
			font-family: "Font Awesome 5 Free";
			content: "\f10d";
			position: absolute;
			top: 5px;
			left: 12px;
			font-size: 1.75rem;
			color: #ddd;
			font-weight: 700;
			@media (min-width: 576px) {
				font-size: 2.25rem;
			}
		}
		p {
			margin-bottom: 1rem;
			@media (min-width: 576px) {
				font-size: 1.1rem;
			}
		}
		cite {
			font-size: 1rem;
			.fa-star {
				color: orange;
			}
		}
		.c-testimonials__nav i {
			color: #8c98a4;
			font-size: 1.2rem;
			&:hover {
				cursor: pointer;
				color: #77818b;
			}
		}
	}
}